<div class="mb-5">
  <% @title = "Groups" %>
  <div class="header">
    <%= link_to "<i class='fas fa-angle-left'></i>".html_safe, home_groups_path, class: "back" %>
    <h1>Groups</h1>
    <h4 class="" style="text-align: center; color: white;">
            <%= @title %>
    </h4>
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <li><a href=""><%= button_to "Sign out", destroy_user_session_path, method: "delete" %></a></li>
          </ul>
        </div>
  </div>
   
  <% if @groups.any? %>
  <ul class="list-group">
    <% @groups.each do |group| %>
      <li class="list-group-item">
      <div class="d-flex justify-content-start">
        <div class="p-2"><% if group.icon.present? %>
          <%= raw group.icon %>
        <% end %>
        </div>
        <div class="p-2"><h3><%= group.name %>:</h3></div>
        <div class="p-2"><p>$<%= group.entities.collect(&:amount).sum %></p></div>
      </div>
      <div class="btns">
        <div class="btn">
          <button><a href="<%= group_entities_path(group) %>">View Entities</a></button>
          <button><%= link_to 'Add a New Entity', new_group_entity_path(group) %></button>
        </div>
        </div>
      </li>
    <% end %>
  </ul>
  <button class="btn addNew"><%= link_to 'Add New Group', new_group_path %></button>
  <% else %>
    <p class="msg">No group found. Click the button below to add a new group.</p>
    <button class="btn addNew"><%= link_to 'Add New Group', new_group_path %></button>
  <% end %>
</div>
