<nav role='navigation'>
  <div class="container">
    <% if link_to "Back", :back %>

  <% if user_signed_in? && defined?(group) && request.path == group_entities_path(group_id: group.id) %>
    <%= link_to(home_groups_path(group_id: group.id), class: "btn btn-primary") do %>
      <i class="fas fa-angle-left"></i>
    <% end %>

      <% elsif @title == "Entities" %>
        <div class="d-flex justify-content-between align-items-center">
          <%= link_to groups_home_path do %>
            <i class="fas fa-arrow-left" style="color: grey; font-size: 1.5rem;"></i>
          <% end %>
          <h4 class="" style="text-align: center; color: grey;">
            <%= @title %>
          </h4>
          <p></p>
        </div>
      <% elsif @title == "New Group" %>
        <div class="d-flex justify-content-between align-items-center">
          <%= link_to groups_home_path do %>
            <i class="fas fa-arrow-left" style="color: grey; font-size: 1.5rem;"></i>
          <% end %>
          <h4 class="" style="text-align: center; color: grey;">
            <%= @title %>
          </h4>
          <p></p>
        </div>
      <% elsif @title == "New Entity" %>
        <div class="d-flex justify-content-between align-items-center">
          <%= link_to group_entities_path(@group) do %>
            <i class="fas fa-arrow-left" style="color: grey; font-size: 1.5rem;"></i>
          <% end %>
          <h4 class="" style="text-align: center; color: grey;">
            <%= @title %>
          </h4>
          <p></p>
        </div>
      <% end %>
    <% end %>
  </div>


  <% if @title == "Groups" && request.path == groups_home_path && groups_path %>
        <h4 class="" style="text-align: center; color: grey;">
            <%= @title %>
        </h4>
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <li><a href=""><%= button_to "Sign out", destroy_user_session_path, method: "delete" %></a></li>
          </ul>
        </div>
  <% end %>
</nav>
